/** @format */
body {
  overflow-x: hidden;
}
.header-bg {
  background-image: url(https://www.deccanherald.com/sites/dh/files/articleimages/2021/01/05/group-discussion-istock-603992138-935358-1609832067.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: rgb(28, 28, 28);
  background-blend-mode: multiply;
  background-position: center;
}
a {
  text-decoration: none;
}
.container-head {
  padding: 100px 30px;
}
.container {
  padding: 20px 20px;
}

.card {
  margin-bottom: 20px;
}

@media only screen and (max-width: 856px) {
  .simon-image {
    height: 400px;
    width: 380px;
  }
}
@media only screen and (max-width: 556px) {
  .simon-image {
    height: 250px;
    width: 270px;
  }
}
